@page "/"
@rendermode InteractiveServer
@using BlazorApp1.Services
@inject RedditService Reddit

<div class="min-h-screen flex flex-col items-center justify-center px-4">
    <div class="w-full max-w-xl">
        <input @bind="url" placeholder="Paste a Reddit post URL" class="form-control mb-2 border w-full" />
        <button @onclick="GetPost" class="border w-full">run</button>

        @if (error is not null)
        {
            <p class="text-danger">@error</p>
        }

        @if (post is not null)
        {
            <h2>@post.Title</h2>
            <div>@post.Body</div>

            <button @onclick="GetTitleCard" class="border">Generate Title Card</button>
        }
    </div>
</div>

@code {
    string url = "https://www.reddit.com/r/buhaydigital/comments/1uf64ez/wfh_things_that_make_me_feel_rich_for_no_reason/";
    string? error;
    PostData? post;

    public async Task GetPost()
    {
        error = null;

        try
        {
            post = await Reddit.GetPost(url);
        }
        catch (RedditFetchException ex)
        {
            error = ex.Message;
        }
        catch (RedditPostNotFoundException ex)
        {
            error = ex.Message;
        }
    }

    public async Task GetTitleCard()
    {
        Reddit.GenerateTitleCard(post.Title);
    }
}
