# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vs/

# Tailwind CSS output
wwwroot/css/app.min.css

# IDE
.idea/
.vscode/
*.swp
*.swo

# Generated outputs
outputs/

# Assets
fonts/
vids/

# OS
.DS_Store
Thumbs.db
